.places__link {
    width: fit-content;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 12px 0 0 0;
    transition: opacity .5s linear;
}

.places__link:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .places__link {
        margin: 12px 0 0 16px;
    }
} 