.header {
    max-width: calc(100% - 96px);
    min-width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 28px auto 0;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: calc(100% - 48px);
    }
} 

@media screen and (max-width: 767px) {
    .header {
        max-width: calc(100% - 32px);
        margin: 16px auto 0;
    }
} 