.footer {
    max-width: calc(100% - 96px);
    margin: 92px auto 24px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: calc(100% - 48px);
        margin: 88px auto 24px;
    }
} 
@media screen and (max-width: 767px) {
    .footer {
        margin: 64px 0 24px 16px;
        flex-direction: column;
        justify-content: start;
    }
} 