.places__url-heading {
    color: #AAAAAA;
    font-family: 'Inter';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}